.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 80px;
  background-image: linear-gradient(#503700, #b34400, #503700);
}
.header__logo {
  width: 60px;
  border-radius: 50%;
}

.header__list {
  width: 40%;
}
.header__list ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
